body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.mod {
  fill: currentColor;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.nonlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  width: 100%;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-dif {
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu:hover, .menu:focus {
  color: #2196f3;
}

.menu.is-open {
  z-index: 2;
}

.menu-close {
  display: none;
}

.menu.is-open .menu-close {
  display: block;
}

.menu.is-open .menu-open {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-link .social-icon {
  height: 20px;
}

.basement-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.portfolio-btn {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.close:hover, .close:focus {
  color: #2196f3;
}

.cross {
  width: 11px;
  height: 11px;
}

.nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover, .contact:focus {
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .contact-phone {
    font-size: 24px;
    line-height: 1.17;
    color: #2196f3;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contact-phone {
    font-size: 34px;
    line-height: 1.17;
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contact-mail {
    font-size: 24px;
    line-height: 1.33;
  }
}

.contact .mail {
  width: 16px;
  height: 12px;
}

.contact .phone {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .mail,
  .phone {
    display: none;
  }
}

.main-title {
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .main-title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.61;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-feature {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title-feature {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .title-team, .title-clients {
    font-size: 28px;
  }
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.invocation,
.form-title {
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-title {
  font-size: 20px;
}

.actions-label {
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.text-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.skill {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.agreement-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .agreement-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.contact-footer {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.input {
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #2196f3;
  outline: none;
}

.form {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.form::-webkit-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form:-ms-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form::-ms-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form::placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form:focus::-webkit-input-placeholder {
  color: #2196f3;
}

.form:focus:-ms-input-placeholder {
  color: #2196f3;
}

.form:focus::-ms-input-placeholder {
  color: #2196f3;
}

.form:focus::placeholder {
  color: #2196f3;
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
}

.modal-input:focus + .modal-icon {
  color: #2196f3;
}

.modal-icon {
  width: 18px;
  height: 18px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.coment {
  width: 100%;
  max-height: 120px;
  resize: none;
}

@media screen and (min-width: 480px) {
  .coment {
    min-height: 120px;
  }
}

.coment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.check-mark {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.check-mark:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/checkmark.svg);
  background-size: contain;
  background-origin: border-box;
}

.portfolio-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 479px) {
  .portfolio-overlay {
    padding-top: 30px;
    font-size: 16px;
  }
}

.unit {
  display: block;
  text-decoration: none;
  height: 100%;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.unit:hover, .unit:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.unit:hover .portfolio-overlay,
.unit:focus .portfolio-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-inner {
    height: 80px;
  }
}

.head {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 0 48px 40px;
    width: 100%;
    height: 100vmax;
    display: none;
    background-color: #ffffff;
  }
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container-nav {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-nav {
    padding-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .container-nav {
    padding-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header-contact {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contact-phone {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-phone {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-phone {
    margin-left: 30px;
  }
}

.mail,
.phone {
  margin-right: 8px;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .mobile-social {
    display: none;
  }
}

.mobile-social-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mobile-social-item:not(:last-child):after {
  content: "";
  height: 22px;
  width: 1px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.hero-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .hero-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}

.hero-item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero-item .container {
    height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-item {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.order {
  display: inline-block;
  padding: 10px 32px;
}

.invisible {
  display: none;
}

.feature {
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .feature-item {
    -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
        flex-basis: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature-item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .feature-item:nth-child(n + 2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

.title-fearure {
  margin: 0;
  margin-bottom: 10px;
}

.text-feature {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .actions {
    display: none;
  }
}

.actions-title {
  margin: 0;
  margin-bottom: 50px;
}

.actions-group {
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions-item {
  position: relative;
}

.actions-item .picture {
  display: block;
}

.actions-item .label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0 27px;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.title-team {
  margin: 0;
  margin-bottom: 30px;
}

.team-item {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
        flex-basis: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team-item:nth-child(n + 2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

.title-name {
  margin: 0;
  padding: 30px 0 10px;
}

.skill {
  margin: 0;
  padding-bottom: 16px;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 24px;
  width: 206px;
}

.title-clients {
  padding: 0;
  margin: 0;
  padding-top: 60px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title-clients {
    padding-top: 94px;
    margin-bottom: 50px;
  }
}

.clients-box {
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .clients-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .clients-box {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    -ms-flex-preferred-size: calc((100% - 5 * 30px) / 6);
        flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

@media screen and (max-width: 479px) {
  .clients-item:nth-child(n + 2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.basement-item {
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .basement-item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.basement-group {
  padding-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .basement-group {
    width: calc(100% / 2);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .basement-group {
    text-align: left;
  }
}

.address-group {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 231px;
}

.address-group .address {
  margin: 0;
}

.address-group .contact-footer {
  display: block;
  padding: 0;
}

.address-group .interval:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .invocation-box {
    width: calc(100% / 2);
    padding-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .invocation-box {
    padding-top: 72px;
    margin-left: 70px;
  }
}

.invocation {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .invocation {
    text-align: left;
  }
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-box .basement-link:not(:last-child) {
  margin-right: 10px;
}

.form {
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form {
    margin-bottom: 0;
  }
}

.form-wraper {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-wraper {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-wraper {
    margin-left: auto;
    padding-bottom: 0;
  }
}

.form-title {
  display: block;
  padding-top: 60px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-title {
    text-align: left;
    padding-top: 72px;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-field {
    width: 570px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .submit {
    margin-left: 12px;
  }
}

.submit .icon-plane {
  margin-left: 10px;
}

.invisible {
  display: none;
}

.buttons-list {
  display: block;
  margin-bottom: 30px;
  padding-top: 60px;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-list {
    padding-top: 94px;
    margin-bottom: 50px;
  }
}

.buttons-list .item {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .buttons-list .item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

.buttons-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
}

.portfolio {
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
        flex-basis: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 3);
        flex-basis: calc((100% - 4 * 15px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-item:nth-child(n + 2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-title {
  margin: 0;
  padding: 20px 24px 4px 24px;
}

.portfolio-text {
  margin: 0;
  padding: 0 24px 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-box {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal-box {
  position: absolute;
  max-width: 528px;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-box {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .modal-box {
    padding: 30px 40px;
  }
}

.modal-box .close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-box .modal-title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}

.modal-box .modal-label {
  position: relative;
  display: block;
}

.modal-box .modal-input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.modal-box .modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.modal-box .coment {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal-box .agreement-label {
  display: block;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .modal-box .agreement-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal-box .conditions {
  color: #2196f3;
  margin-left: 5px;
}

.modal-box .checkbox-icon {
  display: inline-block;
  margin-right: 7px;
}

.modal-box .modal-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */