.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;

    &-feature {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    &-team,
    &-clients {
        @media screen and (max-width: 1199px) {
            font-size: 28px;
        }
    }

    &-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
    }
}

.invocation,
.form-title {
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;

    color: $main-title-color;
}

.modal-title {
    font-size: 20px;
}
