.text-feature {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}

.skill {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $title-text-color;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $primary-text-color;
}

.agreement-label {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: $primary-text-color;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.7;
    }
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    color: $main-title-color;
}

.contact-footer {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: $basement-contact-color;
}
