.unit {
    display: block;
    text-decoration: none;
    height: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: $portfolio-border-color;

    &:hover,
    &:focus {
        box-shadow: $portfolio-list-shadow;
    }

    &:hover .portfolio-overlay,
    &:focus .portfolio-overlay {
        transform: translateY(-100%);
    }
}